#!/bin/bash

# If set to true will import the ssh keys in the container.
# when created using hrmdock_create_user, this is convienient but
# can still be a little unsafe
IMPORT_SSH_KEYS=true

# Remove container after running it
# this is better practice, especially if you store your ssh keys in the
# container. We still have not found a way to mount the keys without copying
# them in the container.
TEMPORARY_CONTAINER=true

# ID of default container
# You can create lasting container and use this to reference to it
DEFAULT_CONTAINER_ID=a6b923bf245f

# ------------------------------------------------------------------------------
# This section sets the image to be used by default

# 16.04 Ubuntu, has OpenGl super for running 3D GUI 
# code on the host

IMAGE_NAME=ubuntu/hrm_16.04
IMAGE_DIRECTORY=images/16_04

# 16.04 Ubuntu Image for pytoch training

# IMAGE_NAME=ubuntu/hrm_pytorch
# IMAGE_DIRECTORY=images/pytorch
