#!/bin/bash

# If set to true will import the ssh keys in the container.
# when created using hrmdock_create_user, this is convienient but
# can still be a little unsafe
IMPORT_SSH_KEYS=true

# Remove container after running it
# this is better practice, especially if you store your ssh keys in the
# container. We still have not found a way to mount the keys without copying
# them in the container.
TEMPORARY_CONTAINER=false

# ID of default container
# You can create lasting container and use this to reference to it
DEFAULT_CONTAINER_ID=823a4435a744

# Set the TensorBoard port
PORT_TENSORBOARD=6018
PORT_MAIN=8896

# Enable graphics forwarding, only works with unix
# runs the container with nvidia runtime and maps
# /tmp/x11 directories to the containter
FORWARD_GRAPHICS=true

# ----------------------------------------------------------------------------
# This section sets the image to be used by default

# 16.04 Ubuntu, has OpenGl super for running 3D GUI 
# code on the host

# IMAGE_NAME=mpi_18.04:latest
# IMAGE_DIRECTORY=mpi_18_04

# IMAGE_NAME=hrm_16.04:latest
# IMAGE_DIRECTORY=mpi_16_04

IMAGE_NAME=hrm_14.04:latest
IMAGE_DIRECTORY=14_04

# IMAGE_NAME=hrm_16.04:latest
# IMAGE_DIRECTORY=16_04

# 16.04 Ubuntu Image for pytoch training

# IMAGE_NAME=hrm_tensorflow:latest
# IMAGE_DIRECTORY=tensorflow

# IMAGE_NAME=hrm_pytorch:latest
# IMAGE_DIRECTORY=pytorch

# IMAGE_NAME=hrm_cuda:latest
# IMAGE_DIRECTORY=cuda

# IMAGE_NAME=hrm_pyrieef:latest
# IMAGE_DIRECTORY=pyrieef

# IMAGE_NAME=hrm_jie:latest
# IMAGE_DIRECTORY=jie
