
# ------------------------------------------------------------------------------
# 16.04 Ubuntu, has OpenGl super for running 3D GUI 
# code on the host

IMAGE_NAME=ubuntu/hrm_16.04
IMAGE_DIRECTORY=images/16_04

# ------------------------------------------------------------------------------
# 16.04 Ubuntu Image for pytoch training

# IMAGE_NAME=ubuntu/hrm_pytorch
# IMAGE_DIRECTORY=images/pytorch
